<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
         <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>

        <defaultDocument enabled="true">
            <files>
                <remove value="Default.htm" />
                <remove value="Default.asp" />
                <remove value="index.htm" />
                <remove value="index.html" />
                <remove value="iisstart.htm" />
            </files>
        </defaultDocument>

        <handlers>
            <clear />
            <add name="PHP849" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php\php-8.4.9-nts\php-cgi.exe" resourceType="File" />
            <add name="php-7.3.0" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\php\php-7.3.0-nts\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="PHP713" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php\php-7.1.3-nts\php-cgi.exe" resourceType="File" />
            <add name="CGI-exe" path="*.exe" verb="*" modules="CgiModule" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
            <add name="TRACEVerbHandler" path="*" verb="TRACE" modules="ProtocolSupportModule" requireAccess="None" />
            <add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" modules="ProtocolSupportModule" requireAccess="None" />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
        </handlers>

         <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(.*)/$" ignoreCase="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="/{R:1}" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>

            </rules>
        </rewrite>
        <caching enabled="false" enableKernelCache="false" />
    </system.webServer>
</configuration>
